@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Browser CMS</h1>
    <p class="lead">Welcome to the Browser CMS. Click on one of the menu items above, or the button below, to get started.</p>
    <p><a href='@Url.Action("Index", "Company")' class="btn btn-primary btn-large">Company List &raquo;</a></p>
</div>